body {
  background-color: #2d4059;
  font-family: "Alice", sans-serif;
  margin: -7px;
}

p {
  font-size: 21px;
}

h2 {
  font-family: "DM Serif Text";
}
.container-highlight {
  background-color: #ffd460;
  color: #1c2837;
}
.hex-overlay-right {
  position: absolute;
  width: 100%;
}

.box {
  width: 100%;
  height: 100%;
  position: absolute;
}

.right {
  float: right;
}

.row {
  width: 1000px;
}

.row-container {
  display: flex;
  flex-direction: row;
}

.flex-item-w1 {
  flex-grow: 1;
}

.flex-item-founder {
  width: 600px;
  height: 666px;
  position: relative;
}

.founder-img-container {
  position: relative;
  height: 666px;
  overflow: hidden;
}
.founder-parallax {
  position: absolute;
  z-index: 0;
  top: 0px;
  left: 0px;
}

.layer-1 {
  z-index: 0;
}

.layer-2 {
  z-index: 1;
}

.layer-3 {
  z-index: 3;
}

.overlay-canvas {
  position: absolute;
  top: 0px;
  left: 0px;
}

.center-container {
  width: 50%;
  height: 50%;
  margin: auto;
  padding-top: 100px;
}

.name {
  font-size: 3.5rem;
}

.container-highlight p {
  color: #3e587b;
}
